/* ===== CONTAINER PRINCIPAL ===== */
.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--xl) var(--container-padding);
  background-color: var(--background);
  font-family: var(--font-family-base);
}

/* Tablet */
@media (max-width: 768px) {
  .container {
    padding: var(--lg) var(--container-padding-sm);
  }
  
}

