/* button.module.css */

  .buttonBase {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    background-color: #82b0ec;
    font-size: 0.875rem;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    cursor: pointer;
  }
  .buttonBase:hover {
    background-color: #64a1f1 ;
  }
  .buttonBase:disabled {
    color: #a0aec0;
    background-color: #e7e7e7;
    cursor: not-allowed;
  }
  
  .buttonBase:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 1px #3b82f6;
  }
  
  /* Variantes */
  .primary {
    border-color: #3b82f6;
  }
  
  .secondary {
    border-color: #8b5cf6;
    background-color: #fdfdfd;
    border: 1px solid #3b82f6;
  }
  .secondary:hover {
    border-color: #8b5cf6;
    background-color: #dee0e4;
    border: 1px solid #3b82f6;
  }
  
  .error {
    border-color: #ef4444;
  }
  
  .error:focus {
    box-shadow: 0 0 0 1px #ef4444;
  }